// Navigation text color
$menu-text-color: rgba(255, 255, 255, 0.7);
$menu-text-hover: rgba(255, 255, 255, 1);

// Navigation background color
$navigation-bg: #191919;

// Header background color
$header-bg: rgba(255, 255, 255, 1);
$header-txt-color: #191919;
