// Navigation text color
$menu-text-color: rgba(255, 255, 255, 0.7);
$menu-text-hover: rgba(255, 255, 255, 1);

// Navigation background color
$navigation-bg: #191919;

// Header background color
$header-bg: white;
$header-txt-color: #191919;

// Buttons color
$button-txt-color:white;
$button-black: #191919;

// Login background
$login-bg: #191919;

// Input border color
$input-border-color: #191919;
$btn-default: #191919;




