<div class="container">


    <div class="sc-header-content">
        <h1 class="animated fadeIn">
            {{ title }}
        </h1>
    </div>


    <!-- Profile -->
    <div id="profile">

        <a data-ui-sref="app.profile({ id: user.id })">
            <span class="name">Billy Shen</span>
        </a>

        <a class="btn-action" data-ng-click="logout()" href="javascript:;">
            <img src="images/icons/logout.svg" width="14px">
        </a>
    </div>
    <!-- /Profile -->
</div>


