<div id="navigation">
    <div id="menu">

        <div class="logo">
            <a href="javascript:;">
                <img src="images/logo.svg" alt="Jaiye logo" width="26px" height="54px"/>
            </a>
        </div>

        <div id="addons">
            <div class="menu-component-header">

                <div class="menu-title">
                    <h4>Navigation</h4>
                </div>


                <ul class="component-nav">

                    <li data-ui-sref-active="active" data-ui-sref="song">
                        <a href="javascript:;">
                            <img src="images/icons/song.svg" alt="" width="16px" class="svg"/>
                            Liste des songs
                        </a>
                    </li>

                    <li data-ui-sref-active="active" data-ui-sref="user">
                        <a href="javascript:;">
                            <img src="images/icons/artist.svg" class="svg" alt="" width="16px"/>
                            Artistes
                        </a>
                    </li>

                    <li data-ui-sref-active="active" data-ui-sref="category">
                        <a href="javascript:;">
                            <img src="images/icons/category.svg" alt="" width="16px" class="svg"/>
                            Catégories
                        </a>
                    </li>


                    <li data-ui-sref-active="active" data-ui-sref="tag">
                        <a href="javascript:;">
                            <img src="images/icons/tag.svg" alt="" width="16px" class="svg"/>
                            Tags
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>

<!-- Include SVG Helper -->
<script src="./scripts/helpers/svg-to-inline.js"></script>