<section id="song">


    <div class="panel-heading f300">
        <div class="pull-right">
            <button class="btn btn-default" data-ng-click="add()">+ Ajouter</button>
        </div>

        <div class="pull-right ng-hide" data-ng-show="isAdding">
            <a href="javascript:;" class="btn btn-cancel pull-right" data-ng-click="isAdding = false">
                Annuler
            </a>
            <a href="javascript:;" class="btn btn-add-category pull-right" data-ng-click="add()">
                Enregistrer
            </a>

        </div>
        {{ songs.length }} musiques
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Artiste</th>
                <th>Url</th>
                <th>Catégorie</th>
                <th>État</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr data-ng-repeat="s in songs | orderBy: '-createdAt' ">
                <td>{{ s.title }}</td>
                <td>{{ s.owner.firstName }} {{ s.owner.lastName }}</td>
                <td>{{ s.url }}</td>
                <td>{{ s.category.name || 'Aucune' }}</td>
                <td>
                    <span data-ng-if="s.validated" style="color:#2D9E2D;">Activé</span>
                    <span data-ng-if="!s.validated" style="color:grey;">Désactivé</span>
                </td>
                <td>
                    <span>
                       <a href="javascript:;" class="btn btn-update" data-ng-click="update(s)">Modifier</a>
                    </span>
                    <span>
                        <a href="javascript:;" class="btn btn-delete" data-ng-click="delete(s)">Supprimer</a>
                    </span>
                </td>


            </tr>


            <tr data-ng-if="isAdding">
                <td>
                    <input type="text" class="form-control" data-ng-model="newCategory.name"/>
                </td>
            </tr>


            </tbody>


        </table>
    </div>




</section>